---
- fail:
    msg: 'backup_remote_user, backup_remote_password and backup_remote_host has to be specified for lftp'
  when: >
    backup_remote_user == ''
    or backup_remote_password == ''
    or backup_remote_host == ''

- name: Be sure lftp is installed
  apt:
    name: lftp
    state: present

- name: Mirror backups to remote host {{ backup_remote_host }}
  command: lftp -c "open -u {{ backup_remote_user }},{{ backup_remote_password }} {{ backup_remote_host }}; mirror -R -c -e -v {{ backup_dir }} {{ backup_remote_dir }}"
  register: lftp_result
  changed_when: "'Transferring file' in lftp_result.stdout or 'Removing old file' in lftp_result.stdout"

- name: Output of lftp sync
  debug: var=lftp_result.stdout_lines
